@import url("https://fonts.googleapis.com/css2?family=Benne&family=Merriweather:wght@700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Benne', serif;
	font-size: 18px;
	background-color: rgb(206,203,199);
	color: black;
}
}

h1,h2{
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-weight: bold;
	color: black;
}

h3{
	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: lighter;
	color: black;
}

a{
	text-decoration: none;
}

#info{
	margin-top: 10px;
}
